h1 {
    color: brown;
    font-family: "Comic Sans MS";
}

.fancyFont {
    font-family: Chalkboard;
    font-size: 20px;
    border: aqua;
}

.underscored {
    text-decoration: overline underline;
}

#SpecificElement {
    background-color: cadetblue;
}